<nz-layout class="layout">
	<!-- JustFresh 2018-11-28 Begin 引入统一顶部导航 -->
	<app-admin-header></app-admin-header>
	<!-- JustFresh 2018-11-28 End 引入统一顶部导航 -->
	<nz-content class="body">
		<!-- JustFresh 2018-11-28 Begin 面包屑导航 -->
		<nz-breadcrumb>
			<nz-breadcrumb-item><a [routerLink]="['/admin/index']" [queryParams]="{module:'index',opt:'index'}">控制台</a></nz-breadcrumb-item>
			<nz-breadcrumb-item>广告管理</nz-breadcrumb-item>
        </nz-breadcrumb>
		<!-- JustFresh 2018-11-28 End 面包屑导航 -->
		<!-- JustFresh 2018-11-28 Begin 页面主体部分 -->
		<nz-layout class="main">
			<!-- JustFresh 2018-11-28 Begin 引入左侧导航菜单 -->
			<nz-sider [nzWidth]="200">
				<app-admin-left-nav class="left-nav"></app-admin-left-nav>
			</nz-sider>
			<!-- JustFresh 2018-11-28 Ends 引入左侧导航菜单 -->
			<nz-content class="content">
				<!-- JustFresh 2018-12-04 Begin 分页条件查询表单部分 -->
				<div class="conditions">
					<form class="horizontal">
						<div class="form-group">
							<label>广告名：</label>
							<input type="" class="form-ipt" [(ngModel)]="advName" name="advName" placeholder="请输入广告名">
						</div>
						<div class="form-group">
							<label>链接：</label>
							<input type="" class="form-ipt" [(ngModel)]="advUrl" name="advUrl" placeholder="请输入链接地址">
						</div>
						<div class="form-group">
							<label>类型：</label>
							<select class="form-select" [(ngModel)]="advType" name="advType">
								<option *ngFor="let item of typeSelect" [value]="item.key">{{item.value}}</option>
							</select>
						</div>
						<div class="form-group">
							<label>广告位：</label>
							<select class="form-select" [(ngModel)]="positionId" name="positionId">
								<option *ngFor="let item of positionSelect" [value]="item.key">{{item.value}}</option>
							</select>
						</div>
						<div class="form-group">
							<label>状态：</label>
							<select class="form-select" [(ngModel)]="status" name="status">
								<option value="">--请选择</option>
								<option value="1">启用</option>
								<option value="0">禁用</option>
							</select>
						</div>
						<div class="form-group">
							<a class="btn" (click)="searchData()"><i nz-icon type="search"></i> 搜索</a>
						</div>
						<div class="clearfix"></div>
					</form>
				</div>
				<!-- JustFresh 2018-12-04 End 分页条件查询表单部分 -->
				<!-- JustFresh 2018-12-04 Begin 分页表格数据部分 -->
				<div class="datagrid">
					<div class="title">
						<h4 class="pull-left"><i nz-icon type="user"></i> 广告数据列表</h4>
						<div class="opts pull-right">
							<button nz-button nzType="default" (click)="importExcel()"><i nz-icon type="file-excel"></i>导出当前页</button>
							<button nz-button nzType="primary" [routerLink]="['/admin/adv/add']" [queryParams]="{module:'index',opt:'adv'}"><i nz-icon type="plus"></i>添加广告</button>
						</div>
						<div class="clearfix"></div>
					</div>
					<nz-table id="advTable" #ajaxTable nzBordered nzSize="small" nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataSet"
					[nzLoading]="loading" [nzTotal]="total" [(nzPageIndex)]="pageNumber" [(nzPageSize)]="size" (nzPageIndexChange)="searchData()"
					(nzPageSizeChange)="searchData(true)">
						<thead (nzSortChange)="sort($event)" nzSingleSort>
							<tr>
								<th>广告名</th>
								<th>缩略图</th>
								<th>链接</th>
								<th width="100px">广告类型</th>
								<th width="100px">广告位</th>
								<th width="160px">添加时间</th>
								<th width="240px">操作</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of ajaxTable.data">
								<td>{{item.advName}}</td>
								<td><img *ngIf="item.thumb" src="{{siteUrl}}{{item.thumb}}" alt="无缩略图" class="thumb" /></td>
								<td>{{item.advUrl}}</td>
								<td>{{item.advType}}</td>
								<td>{{item.positionId}}</td>
								<td>{{item.createTime | date:"yyyy-MM-dd HH:mm"}}</td>
								<td>
									<button [routerLink]="['/admin/adv/detail',item.id]" [queryParams]="{module:'index',opt:'adv'}" class="default">查看</button>
									<button [routerLink]="['/admin/adv/edit',item.id]" [queryParams]="{module:'index',opt:'adv'}" class="primary">编辑</button>
									<button (click)="delete(item.id)" class="danger">删除</button>
								</td>
							</tr>
						</tbody>
					</nz-table>
				</div>
				<!-- JustFresh 2018-12-04 End 分页表格数据部分 -->
			</nz-content>
		</nz-layout>
		<!-- JustFresh 2018-11-28 End 页面主体部分 -->
		<!-- JustFresh 2018-11-28 Begin 引入统一底部导航 -->
		<app-admin-footer></app-admin-footer>
		<!-- JustFresh 2018-11-28 End 引入统一底部导航 -->
	</nz-content>
</nz-layout>