.comments{margin-top: 10px;}
.comments h4{border-bottom: 1px solid #f0f0f0;color: #3b9bd8;}
.comments h4 span{color: #3b9bd8;display: inline-block;padding: 10px 5px;border-bottom: 2px solid #3b9bd8;margin-bottom: -1px;}
.comments ul{margin: 10px 0px;padding: 0px;}
.comments ul li{list-style: none;line-height: 20px;}
.comments ul li a{
	padding: 6px 15px 6px 5px;
    display: block;
    border-bottom: 1px solid #f0f0f0;
    border-left: 3px solid transparent;
    margin-left: -3px;
    overflow: hidden;
    position: relative;
}
.comments ul li a .muted{color: #999;}