<div class="comments" nz-row nzGutter="24">
	<div nz-col class="gutter-row" nzSpan="24">
		<h4><span><i nz-icon type="message"></i> 最近评论</span></h4>
		<ul>
			<li><a href="http://bigdataer.net/?p=646#comment-45" title="log4j2+flume传输二进制日志到hdfs上的评论">liuxuecheng <span class="muted">4个月前 (07-19)说：<br>thanks</span></a></li>
			<li><a href="http://bigdataer.net/?page_id=220#comment-29" title="资源列表上的评论">liuxuecheng <span class="muted">1年前 (2017-09-01)说：<br>已更新。</span></a></li>
			<li><a href="http://bigdataer.net/?p=437#comment-27" title="spark作业配置及spark-submit参数说明上的评论">liuxuecheng <span class="muted">1年前 (2017-08-22)说：<br>加我QQ 962087709，欢迎一起交流</span></a></li>
			<li><a href="http://bigdataer.net/?p=437#comment-26" title="spark作业配置及spark-submit参数说明上的评论">muraue <span class="muted">1年前 (2017-08-22)说：<br>刘先生，看了您的文章，感觉您在大数据方面的积累很深；方便加个联系吗？</span></a></li>
			<li><a href="http://bigdataer.net/?p=429#comment-25" title="Hadoop机架感知上的评论">liuxuecheng <span class="muted">1年前 (2017-07-09)说：<br>哈哈</span></a></li>
			<li><a href="http://bigdataer.net/?p=646#comment-45" title="log4j2+flume传输二进制日志到hdfs上的评论">liuxuecheng <span class="muted">4个月前 (07-19)说：<br>thanks</span></a></li>
			<li><a href="http://bigdataer.net/?page_id=220#comment-29" title="资源列表上的评论">liuxuecheng <span class="muted">1年前 (2017-09-01)说：<br>已更新。</span></a></li>
			<li><a href="http://bigdataer.net/?p=437#comment-27" title="spark作业配置及spark-submit参数说明上的评论">liuxuecheng <span class="muted">1年前 (2017-08-22)说：<br>加我QQ 962087709，欢迎一起交流</span></a></li>
			<li><a href="http://bigdataer.net/?p=437#comment-26" title="spark作业配置及spark-submit参数说明上的评论">muraue <span class="muted">1年前 (2017-08-22)说：<br>刘先生，看了您的文章，感觉您在大数据方面的积累很深；方便加个联系吗？</span></a></li>
			<li><a href="http://bigdataer.net/?p=429#comment-25" title="Hadoop机架感知上的评论">liuxuecheng <span class="muted">1年前 (2017-07-09)说：<br>哈哈</span></a></li>
		</ul>
	</div>
</div>