.slider{width: 100%;}
[nz-carousel-content] {text-align: center;height: 400px;line-height: 400px;background: #364d79;color: #fff;overflow: hidden;}
h3 {color: #fff;margin: 0px;padding: 0px;}
img.thumb{width: 100%;height: 500px;}