<section class="login-bg">
	<div class="login-block">
		<h4><i nz-icon type="user"></i> 用户登录</h4>
		<form nz-form [formGroup]="validateForm" (ngSubmit)="submitLogin()">
			<nz-form-item>
				<nz-form-control>
					<nz-input-group [nzPrefix]="prefixUser">
						<input type="text" nz-input formControlName="userName" placeholder="请输入用户名">
					</nz-input-group>
					<nz-form-explain *ngIf="validateForm.get('userName').dirty && validateForm.get('userName').errors">Please input
						your username!</nz-form-explain>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item>
				<nz-form-control>
					<nz-input-group [nzPrefix]="prefixLock">
						<input type="password" nz-input formControlName="password" placeholder="请输入登录密码">
					</nz-input-group>
					<nz-form-explain *ngIf="validateForm.get('password').dirty && validateForm.get('password').errors">Please input
						your Password!</nz-form-explain>
				</nz-form-control>
			</nz-form-item>
			<nz-form-item>
				<nz-form-control>
					<label nz-checkbox formControlName="remember">
						<span>记住密码</span>
					</label>
					<a class="login-form-forgot" class="login-form-forgot">忘记密码</a>
					<button nz-button class="login-form-button" [nzType]="'primary'">登 录</button>
					Or
					<a routerLink="/home/register">去注册</a>
				</nz-form-control>
			</nz-form-item>
		</form>
		<ng-template #prefixUser><i nz-icon type="user"></i></ng-template>
		<ng-template #prefixLock><i nz-icon type="lock"></i></ng-template>
	</div>
</section>
<router-outlet></router-outlet>